################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FINDYOURKICKS/CopilotIndices/17.14.794.21998
/.vs/FINDYOURKICKS/FileContentIndex
/.vs/FINDYOURKICKS/v17/.wsuo
/.vs
